# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Conda
.conda/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Streamlit
.streamlit/secrets.toml

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
